<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <h1> Battle Ship </h1>
    <div>
        <ul id="rooms">
        </ul>
        <div id="creation">
            <input type="text" id="roomName"> <button type="button" id="roomCreate"> Create </button>
        </div>
        <div id="roomActions" class="d-none">
            <button type="button" id="start"> Start Game </button> 
            <button type="button" id="leave"> Leave Room </button>
        </div>
    </div>
    <script src="src/index.js"></script>
</body>
</html>